 
body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#f4fbff;
}

header{
background: linear-gradient(180deg, #ff0000, #fa2a2a);
    padding:15px;
    color:white;
    text-align:center;
    font-size:22px;
    font-weight:bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section{
    width:90%;
    max-width:1000px;
    margin:20px auto;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 25px rgba(0,0,0,0.1);
}

h2{
    color:#e10505;
}

input, textarea, select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.primary{
    background:#00b4d8;
    color:white;
}

.danger{
    background:#d90404;
    border-radius: 20px;
    color:white;
    font-size:16px;
    animation: pulse 1s infinite;
}
 

@keyframes pulse{
0%{box-shadow:0 0 0 0 rgba(255,23,68,0.7);}
70%{box-shadow:0 0 0 20px rgba(255,23,68,0);}
100%{box-shadow:0 0 0 0 rgba(255,23,68,0);}
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
    width: 1010px;
}

.card{
    background:#f1faff;
    padding:15px;
    border-left:5px solid #00b4d8;
    border-radius:10px;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.03);
}

.hidden{
    display:none;
}

.emergency-mode{
    animation:flash 1s infinite;
}

@keyframes flash{
    0%{background:#ffd6e0;}
    50%{background:#d90429;color:white;}
    100%{background:#ffd6e0;}
}

.progress{
    width:100%;
    background:#eee;
    border-radius:10px;
    overflow:hidden;
}

.progress-bar{
    width:0%;
    height:22px;
    background:#00b4d8;
    transition:width 1s linear;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

th,td{
    border:1px solid #ddd;
    padding:8px;
    text-align:center;
}
 
#feature_block{
     display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
#feature_block h2{
 font-weight: 700;   
}
#forCustomHeight{
    margin-top: 10px;
    border: 1px solid rgb(250, 211, 211);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 20px;
}