 

<header>
🚑 Rakshak24-Emergency ka turant Signal 🚨
</header>

<!-- REGISTRATION -->
<!-- <div class="section" id="loginSection">
<h2>Patient Registration</h2>
<input id="name" placeholder="Patient Name">
<input id="age" type="number" placeholder="Age">
<input id="phone" placeholder="Phone">
<input id="email" placeholder="Email">
<input id="blood" placeholder="Blood Group">
<select id="gender">
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select>
<textarea id="address" placeholder="Current Address"></textarea>
<button class="primary" onclick="register()">Register</button>
</div>

 
 <div class="section hidden" id="profileSection">
<h2>Profile</h2>
<div id="profileData"></div>
<button class="primary" onclick="goDashboard()">Go to Dashboard</button> 
</div> -->

<!-- DASHBOARD -->
 <div id="feature_block">
<div id="forCustomHeight">

    <div class="sectionHidden" id="dashboard">
        <h2>Platform Features</h2>
        <div class="grid">
            <div class="card">🏥 Live Bed Count Dashboard</div>
            <div class="card">🩺 Doctor Pre-Alert with Case Summary</div>
            <div class="card">📍 Real-Time Ambulance Tracking</div>
            <div class="card">📡 Low Network Emergency Mode</div>
            <div class="card">🩸 AI Blood Match System</div>
            <div class="card">🚦 Traffic IoT Smart Signal</div>
            <div class="card">👩 Women Safety SOS</div>
            <div class="card">🗺 AI Hospital Prediction</div>
        </div>
        <br>
        <button class="danger" (click)="go_to_emergency_form()" >🚨 Raise Emergency</button>
    </div>
</div>
    </div>

<!-- EMERGENCY SECTION -->
<!-- <div class="section hidden" id="emergencySection">
<h2>Raise Emergency</h2>
<input id="eName" placeholder="Patient Name (Optional)">
<input id="eAge" type="number" placeholder="Age">
<input id="eBlood" placeholder="Blood Group">
<select id="eGender">
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select>
<textarea id="eAddress" placeholder="Current Location"></textarea>
<button class="danger" onclick="submitEmergency()">Submit Emergency</button>

<div id="doctorAlert"></div>

<div id="tracking" class="hidden">
<h3>🚑 Live Ambulance Tracking</h3>
<div class="progress">
<div class="progress-bar" id="progressBar"></div>
</div>
<p id="etaText"></p>
</div>

<h3>🏥 Live Bed Dashboard</h3>
<div id="bedDashboard"></div>

<h3>🩸 Blood Match Result</h3>
<div id="bloodResult"></div>

<h3>📋 Emergency Log</h3>
<table>
<thead>
<tr><th>Name</th><th>Age</th><th>Blood</th><th>Location</th></tr>
</thead>
<tbody id="emergencyTable"></tbody>
</table>

</div> -->

 