

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f7fb;
    padding: 20px;
}

.container {
    max-width: 520px;
    margin: auto;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 15px;
}
.card p{
   margin: 10px;
   color: rgb(65, 62, 62);
}
.icon{
    color: black;
}
.section-title {
    font-size: 16px;
    margin-bottom: 12px;
    color: rgb(9, 59, 207);
}

.muted {
    color: #777;
    font-size: 13px;
}

/* PROFILE */
.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 56px;
    height: 56px;
    background: #1f6fff;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* COUPONS */
.coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f6ff;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.coupon:hover {
    background: #e4edff;
}

.coupon h4 {
    color: #1f6fff;
}

.badge {
    background: #1f6fff;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 13px;
}

/* LINKS */
.links p {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.links p:last-child {
    border-bottom: none;
}

/* LOGOUT */
.logout {
    color: red;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
    }
}


#backBtn{
    /* border: 2px solid red; */
    position: relative;
    top: 22px;
    right: 25px;
    cursor: pointer;
}