<div id="img_div">
     <img src="assets/image.png" alt="Emergency Support" class="hero-image" width="80px"> Rakshak24
</div>
<div id="emergencyForm" class="card hidden">
<h2 >🚨 Patient Details</h2>

<label class="custom_margin"> Name </label>
<input id="pName" #pName placeholder="Patient Name">
<label class="custom_margin"> Age </label>

<input id="pAge" #pAge type="number" placeholder="Age">

<label class="custom_margin"> Gender </label>

<select id="pGender" #pGender>
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select>

<label class="custom_margin"> Blood </label>

<select id="pBlood" #pBlood>
<option>A+</option><option>A-</option>
<option>B+</option><option>B-</option>
<option>AB+</option><option>AB-</option>
<option>O+</option><option>O-</option>
</select>

<label class="custom_margin"> Incident Type </label>

<select id="pType" #pType>
<option>Accident</option>
<option>Heart Attack</option>
<option>Labour Pain</option>
<option>Other</option>
</select>

<!-- <input id="pLocation" placeholder="Current Location"> -->
<!-- <button (click)="getCurrentLocation()">Get Current Location</button> -->
 
 <div id="location_main">

     <div *ngIf="!locationRequested" id="location">
         <p>We need your location to show nearby emergency services. Please click below to allow location access.</p>
        </div>
        <p *ngIf="loading"> Loding.....</p>
        <button (click)="requestLocation()" id="allow_location"> Allow Location</button>
        
        <div *ngIf="locationRequested && latitude && longitude">
            <!-- <p> 📍Latitude: {{ latitude }}</p>
            <p>Longitude: {{ longitude }}</p> -->
<div id="findnearme">

    <button id="nearHospital" (click)="getNearHospital()">
        Find Nearest Hospital
    </button>
</div>

             <div *ngIf="nearestHospitals.length > 0" id="hospitalList">
                    <h3 style="font-weight: 700; color: black;">Nearest Hospitals:</h3>
                    <div *ngFor="let hospital of nearestHospitals" class="card" (click)="goToHospitalDetails(hospital)">
                        <p style="color: red; font-weight: 500;"><strong>🏥{{ hospital.hospital_name }}</strong></p>
                        <p>Available Ambulances: <b> {{ hospital.available_ambulances }} </b> </p>
                        <p>Distance: <b> {{ hospital.distance | number:'1.2-2' }} km </b> </p>
                    </div>
                    </div>

                    <div *ngIf="nearestHospitals.length === 0 && locationRequested">
                    <p>No nearby hospitals found.</p>
                    </div>

        </div>
        
        <div *ngIf="error" style="color:red;">
            <p>{{ error }}</p>
        </div>
</div>

<!-- <button class="primary" onclick="submitEmergency()">Submit Emergency</button> -->